body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    color: white;
    font-size: 24px;
    font-weight: 700;
}

a {
    margin: 0 40px;
}

.content1 {
    background-color: #1f2937;
    height: 800px;
    padding: 50px 250px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    color: white;

}

.content1 p {
    font-size: 24px;
}


.c1container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.wave {
    flex: 0 0 auto;
    height: 400px;
    object-fit: cover;
    filter: grayscale(60%);
    transition: 0.25s ease-in;
}


.wave:hover {
    filter: grayscale(0%);
}

button {
    border-radius: 12px;
    background-color: #1f2937;
    font-size: 24px;
    padding: 10px;
    width: 200px;
    color: whitesmoke;
    margin: 30px 0px;
    font-family: Arial, Helvetica, sans-serif;
    border-color: aliceblue;
    transition: 0.5s;
}

button:hover {
    background-color: aliceblue;
    color: #1f2937;
}


.lady {
    max-width: 400px;
    height: auto;
    object-fit: cover;
    transition: 5s;
    filter: blur(2px) grayscale(30%);
}

.lady:hover {
    filter: blur(0px) grayscale(0%);
    transition: 0.5s ease;
}

.content2 {
    background-color: white;
    background-image: url(https://images.unsplash.com/photo-1525104885119-8806dd94ad58?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    filter: grayscale(80%);
    filter: hue-rotate(10);
    height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat:repeat;
    display: flex;
    justify-content: center;
}

.boxrow {
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    gap: 120px;
    justify-content: center;
    align-items: center;
}


.box {
    box-sizing: border-box;
    height: 300px;
    width: 300px;
    padding:100px 0px;
    border: 10px solid white;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    transition: 1s ;

}

.box:hover{
    font-size: 80px;
    height: 450px;
    width: 450px;
    padding: 150px 0;
    transform: rotate(360deg);
}

.content3 {
    background-color: lightgrey;
    height: 500px;
}

.whitebox{
    box-sizing: border-box;
    height: 300px;
    margin: 100px 200px;
    background-color: white;
    border-radius: 30px;
    text-align: center;
    padding: 100px 100px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    font-weight: 600;
    transition: 1s;

}

.whitebox:hover{
    background-color: #1f2937;
    color: white;
}
.footer {
    background-color: #1f2937;
    min-height: 100px;
    text-align: center;
    padding-top: 30px;
    color: white;
}